

<h2 class="center">View All Posts</h2>

<input type="hidden" name="post-id" value="{{post.id}}" />

{{#each posts as |post| }}
<div class="divider"></div>
<div class="container">
  <h2>{{post.title}}</h2>
  <div class="panel panel-default">
    <div class="panel-body">{{post.content}}</div>
    <p>Posted By {{format_date createdAt}}</p>
  </div>
</div>
    
  </div>
{{/each}}