<div class="row justify-space-between-md">
  <div class="signup-card">
          <span class="card-title">LOGIN</span>
           <div class="form-group">
              <input id="username-input-login" class="validate" />
              <label for="username" class="active">Username</label>
            </div>
        
          <div class="form-group">
              <input id="password-input-login" type="password" class="validate"/>
              <label for="password" class="active">Password</label>
            </div>
          <div class="form-group">  
          <button class="btn waves-effect waves-light" id="submit" type="submit" name="action"> LOGIN</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row center-align">
    <a href="/signup" class="btn"><h6>Sign up</h6></a>
  </div>
</div>
<script src="/js/login.js"></script>