<div class="row justify-space-between-md">
  <div class="signup-card">
    <h2 class="page-title">Signup</h2>
      <form class="form signup-form">
        <div class="form-group">
          <input id="name-signup" class="validate" />
        <label class="active" for="name">Name</label>
  </div>
    <div class="form-group">
      <input id="username-signup" class="validate" />
      <label class="active" for="username">Username</label>
    </div>
    <div class="form-group">
      <input id="password-signup" type="password" class="validate" />
      <label class="active" for="password">Password</label>
    </div>
  <div class="form-group">
     <input id="email-signup" type="email" class="validate" />
      <label class="active" for="email">Email</label>
      <div class="row center-align">
  <button class=".btn-primary" type="submit" name="action" id="submit">Signup </button>
  </div>
  </div>
</form>
<div class="row center-align">
  <a href="/login" class="btn">
    <h6>Login Instead</h6>
  </a>
</div>
</div>
<script src="/js/signup.js"></script>